 <ion-tabs class="tabs-icon-top tabs-stable">

        <ion-tab title="Scoring" icon="ion-easel"  ui-sref="tab.scoring">
      <ion-nav-view name="tab-scoring"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Batsmen" icon="ion-person-stalker"  ui-sref="tab.batsmen">
      <ion-nav-view name="tab-batsmen"></ion-nav-view>
    </ion-tab>
       <ion-tab title="Bowlers" icon="ion-ios-tennisball"  ui-sref="tab.bowlers">
      <ion-nav-view name="tab-bowlers"></ion-nav-view>
    </ion-tab>

      </ion-tabs>